*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.bg{
    background-image: url(background.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}
h1.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid green;
    height: 100%;
}